build/commands/ @luxxle/build-commands-reviewers
patches/ @luxxle/patch-reviewers
chromium_src/ @luxxle/chromium-src-reviewers
script/audit_deps.py @luxxle/sec-team
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
/README.md @bsclifton
script/deps.py @luxxle/deps-reviewers
package*.json @luxxle/js-deps-reviewers
rewrite/ @bridiver @cdesouza-chromium

# Views
chromium_src/ui/views/view.h @bridiver

# luxxle/browser/ui/BUILD.gn should not have new files added to it
browser/ui/BUILD.gn @bridiver

# LuxxleBrowserProcess public interface
browser/luxxle_browser_process.h @bridiver

# New WebUI should use RegisterChromeWebUIConfigs
browser/ui/webui/luxxle_web_uicontroller_factory.cc @bridiver

# LuxxleComponent is deprecated
components/luxxle_component_updater/browser/luxxle_component.h @bridiver @antonok-edm
components/luxxle_component_updater/browser/local_data_files_observer.h @bridiver @antonok-edm

# LuxxlePrefServiceBridge is deprecated
browser/android/preferences/luxxle_pref_service_bridge.cc @bridiver

# Rewards
browser/luxxle_rewards/ @luxxle/rewards-client
browser/extensions/api/luxxle_rewards_api.cc @luxxle/rewards-client
browser/extensions/api/luxxle_rewards_api.h @luxxle/rewards-client
browser/ui/webui/luxxle_rewards_page_ui.cc @luxxle/rewards-client
browser/ui/webui/luxxle_rewards_page_ui.h @luxxle/rewards-client
browser/ui/webui/luxxle_rewards_ui.cc @luxxle/rewards-client
browser/ui/webui/luxxle_rewards_ui.h @luxxle/rewards-client
components/luxxle_rewards/ @luxxle/rewards-client
components/services/bat_rewards/ @luxxle/rewards-client
components/luxxle_rewards/core/engine/util/signer.cc @luxxle/sec-team
components/luxxle_rewards/core/engine/util/signer.h @luxxle/sec-team
components/luxxle_rewards/core/engine/util/request_signer.cc @luxxle/sec-team
components/luxxle_rewards/core/engine/util/request_signer.h @luxxle/sec-team

# Ads
browser/luxxle_ads/**/*.cc @luxxle/ads-client
browser/luxxle_ads/**/*.h @luxxle/ads-client
browser/luxxle_ads/**/*.java @luxxle/ads-client
browser/luxxle_ads/**/*.mm @luxxle/ads-client
browser/ui/luxxle_ads/**/*.cc @luxxle/ads-client
browser/ui/luxxle_ads/**/*.h @luxxle/ads-client
browser/ui/luxxle_ads/**/*.mm @luxxle/ads-client
components/luxxle_ads/**/*.cc @luxxle/ads-client
components/luxxle_ads/**/*.h @luxxle/ads-client
components/luxxle_ads/**/*.mm @luxxle/ads-client
components/services/bat_ads/**/*.cc @luxxle/ads-client
components/services/bat_ads/**/*.h @luxxle/ads-client
components/services/bat_ads/**/*.mm @luxxle/ads-client
luxxle/components/luxxle_ads/core/internal/privacy/**/*.cc @luxxle/ads-client
luxxle/components/luxxle_ads/core/internal/privacy/**/*.h @luxxle/ads-client
luxxle/components/luxxle_ads/core/internal/privacy/**/*.mm @luxxle/ads-client
luxxle/components/luxxle_ads/core/internal/security/**/*.cc @luxxle/ads-client
luxxle/components/luxxle_ads/core/internal/security/**/*.h @luxxle/ads-client
luxxle/components/luxxle_ads/core/internal/security/**/*.mm @luxxle/ads-client

# Luxxle l10n components are deprecated. Use Chromium's functionality
# unless no equivalent is available.
luxxle/components/l10n/ @tmancey @bridiver

# Network
browser/net/ @iefremov
chromium_src/chrome/browser/net/profile_network_context_service.cc @luxxle/sec-team
chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc @luxxle/sec-team

# Tor
browser/tor/ @luxxle/tor-reviewers
browser/ui/webui/tor_internals_ui.* @luxxle/tor-reviewers
browser/ui/webui/settings/luxxle_tor*.* @luxxle/tor-reviewers
components/tor/ @luxxle/tor-reviewers
net/proxy_resolution/ @luxxle/tor-reviewers

# New tab page
browser/resources/luxxle_new_tab_page_refresh @luxxle/luxxle-core-ntp
browser/ui/webui/luxxle_new_tab_page_refresh @luxxle/luxxle-core-ntp

# Chromium Extension API modifications
chromium_src/**/extensions/**/*_features.json @luxxle/sec-team
chromium_src/tools/json_schema_compiler/ @luxxle/sec-team
common/extensions/api/ @luxxle/sec-team

# chromium_src Typescript and CSS overrides
chromium_src/**/*.css @luxxle/chromium-src-web-reviewers
chromium_src/**/*.ts @luxxle/chromium-src-web-reviewers

# Lit Mangling
tools/chromium_src/lit_mangler/ @luxxle/chromium-src-web-reviewers

# Luxxle theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/luxxle_wayback_machine_* @simonhong
components/luxxle_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/luxxle_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/luxxle_wallet/ @luxxle/crypto-wallets-core
browser/ui/luxxle_wallet/ @luxxle/crypto-wallets-core
browser/ui/wallet_bubble_manager_delegate_impl.* @luxxle/crypto-wallets-core
browser/ui/webui/luxxle_wallet/ @luxxle/crypto-wallets-core
browser/ui/views/wallet_bubble_focus_observer* @luxxle/crypto-wallets-core
components/luxxle_wallet/ @luxxle/crypto-wallets-core
components/luxxle_wallet/browser/luxxle_wallet_provider_delegate.h @luxxle/crypto-wallets-core @luxxle/crypto-wallets-ios
components/luxxle_wallet/resources/*.js @luxxle/crypto-wallets-core @luxxle/crypto-wallets-ios
components/luxxle_wallet_ui/ @luxxle/crypto-wallets-front-end
ios/browser/luxxle_wallet/ @luxxle/crypto-wallets-ios
ios/browser/api/luxxle_wallet @luxxle/crypto-wallets-ios

# Luxxle Referrals Service
components/luxxle_referrals/browser/luxxle_referrals_service* @simonhong

# Luxxle Sync
browser/android/luxxle_sync_worker.* @luxxle/sync-reviewers
browser/sync/ @luxxle/sync-reviewers
browser/ui/webui/settings/luxxle_sync_handler.* @luxxle/sync-reviewers
components/luxxle_sync/ @luxxle/sync-reviewers
components/sync/service/ @luxxle/sync-reviewers
components/sync_device_info/ @luxxle/sync-reviewers
ios/browser/api/sync/luxxle_sync_worker.* @luxxle/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @luxxle/p3a-reviewers
components/p3a/ @luxxle/p3a-reviewers
components/time_period_storage/ @luxxle/p3a-reviewers

# Perf predictor
components/luxxle_perf_predictor/ @iefremov

# Permissions
browser/permissions/**/*expiration* @goodov
browser/permissions/**/*lifetime* @goodov
components/permissions/**/*expiration* @goodov
components/permissions/**/*lifetime* @goodov

# Java patching
build/android/bytecode/ @luxxle/java-patch-reviewers
patches/*.java.patch @luxxle/java-patch-reviewers

# Bitcoin-core
third_party/bitcoin-core/BUILD.gn @luxxle/sec-team

# Boost imports (i.e. config, multiprecision)
third_party/boost @luxxle/deps-reviewers

# Network auditor
browser/net/luxxle_network_audit_allowed_lists.h @luxxle/sec-team
browser/net/luxxle_network_audit_rewards_browsertest.cc @luxxle/sec-team
browser/net/luxxle_network_audit_search_ad_browsertest.cc @luxxle/sec-team

# Canary
tools/cr/ @luxxle/chromium-rebase-team

# iOS
/ios/ @luxxle/ios
build/ios/ @luxxle/ios

# Android tests
android/android_browser_tests.gni @luxxle/android-tests-reviewers

# Android res
android/java/res @luxxle/Android

# LuxxlePrefServiceBridge.java is going to be retired soon. We
# have that owners record temporary to avoid people adding
# new things there
android/java/org/chromium/chrome/browser/preferences/LuxxlePrefServiceBridge.java @AlexeyBarabash @samartnik @SergeyZhukovsky

# GitHub configuration
/.github/ @bridiver @cdesouza-chromium
/.github/CODEOWNERS @bridiver @bsclifton
/.github/PULL_REQUEST_TEMPLATE.md @bsclifton


# Semgrep configuration
/.semgrepignore @thypon

# Deprecated android util directory
android/java/org/chromium/chrome/browser/util @bridiver

# These rules are last to take precedence over directory rules.Do not add any
# new rules below this line without checking with @bridiver

# Renderer code
**/renderer/**/* @luxxle/renderer-reviewers

# Rust deps
**/Cargo.* @luxxle/rust-deps-reviewers
third_party/rust @bridiver

# include_rules
DEPS @luxxle/deps-reviewers

# sources.gni - see docs/gni_sources.md
**/sources.gni @luxxle/sources-gni-reviewers
**/*_sources.gni @luxxle/sources-gni-reviewers
docs/gni_sources.md @luxxle/sources-gni-reviewers

# Rust code
**/*.rs @luxxle/rust-reviewers

# Third-party binaries
**/*.aar @bridiver
**/*.jar @bridiver
**/*.apk @bridiver
**/*.dex @bridiver
**/*.lib @bridiver
**/*.so @bridiver
**/*.o @bridiver
**/*.dll @bridiver
**/*.dylib @bridiver

# Strings
**/*.grd @luxxle/string-reviewers-team
**/*.grdp @luxxle/string-reviewers-team
components/luxxle_extension/extension/luxxle_extension/_locales/en_US/messages.json @luxxle/string-reviewers-team

# Browser commands available via Luxxle Education content
browser/ui/webui/luxxle_browser_command/luxxle_browser_command_handler.cc @luxxle/sec-team
browser/resources/luxxle_education/luxxle_education_app.ts @luxxle/sec-team
components/luxxle_education/education_urls.* @luxxle/sec-team
ui/webui/resources/js/luxxle_browser_command/luxxle_browser_command.mojom @luxxle/sec-team

# l10n scripts deps
script/lib/l10n/requirements.txt @luxxle/sec-team

# protected URLs (needs security review)
components/skus/common/skus_utils.h @luxxle/sec-team

# for luxxle_exec_script_allowlist
build/dotfile_settings.gni @bridiver @goodov
